version: '3.8'

services:
 redis:
    image: "redis:alpine"

    ports:
     - "6379:6379"
    volumes:
      - $PWD/redis/redis-data:/var/lib/redis
      - $PWD/redis/redis.conf:/usr/local/etc/redis/redis.conf