{% extends 'base.html' %}

{% block title %}List of all items of goods{% endblock %}

{% block content %}
    {% for item in object_list %}
        <article>
            <iiv class="card my-1">
                <div class="row no-gutters">
                    <div class="col-md-3" style="background-color: cornflowerblue;">
                        <img class="card-img" alt="no image" />
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url "main:goods-detail" item.pk %}">{{ item.title }}</a></h4>
                            <p class="card-text"><small class="text-muted">Seller: {{ item.seller }}</small></p>

                            <p class="card-text">{{ item.description|truncatewords:20 }}</p>
                            {% if item.tags.exists %}
                                Tags:
                                {% for tag in item.tags.all %}
                                    <a class="badge bg-primary badge-tag"
                                        href="{% url 'main:goods-list' %}?tag={{ tag.name | urlencode }}">{{ tag.name }}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
            </div>
        </article>
    {% endfor %}

{% if not object_list and request_tags %}
<h5>No items found with tags <strong>{{ request_tags }}</strong></h5>
{% endif %}

{% if not object_list and not request_tags %}
<h5>something went wrong...</h5>
{% endif %}

<!--Pagination-->
{% include 'main/pagination.html' %}

{% endblock %}

{% block sideblock %}
    {% include 'main/tags_list.html' %}
{% endblock %}