{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}

{% load thumbnail %}
{% load cache %}

{% block content %}
        <article>
            <iiv class="card my-1">
                <div class="row no-gutters">
                    <div class="col col-lg-4 col-md-6 col-sm-12 col-12" style="background-color: cornflowerblue;">
                        {% thumbnail object.image "1000" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" class="card-img-top  img-fluid"
                                 height="{{ im.height }}" alt="no image">
                        {% endthumbnail %}
                    </div>

                    <div class="col col-lg-8 col-md-6">
                        <div class="card-body">
                            <h2 class="card-title">{{ object.title }}</h2>
                            <div class="d-flex justify-content-around mb-3"><small class="text-muted">Seller: {{ object.seller }}</small>
                                <small class="text-muted ">Viewed:
                                    {% cache 60 views_count %}
                                        {{ object.viewed }}
                                    {% endcache %}
                                </small></div>

                            <p class="card-text">{{ object.description|truncatewords:20 }}</p>
                            {% if object.tags.exists %}
                                Tags:
                                {% for tag in object.tags.all %}
                                       <span class="badge bg-primary">{{ tag.name }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% if user == object.seller and perms.main.add_goods %}
                        <a class="btn btn-outline-primary" type="submit" role="button" href="{% url 'main:goods-edit' object.slug %}">Edit</a>
                    {% endif %}
                    </div>
                </div>
            </div>

        </article>

{% endblock %}