{% extends 'base.html' %}

{% block content %}

<h1>Profile settings</h1>
{% if request.user.is_authenticated %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor%}

    <form method="post" action="{% url 'profiles:profile' %}">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        {{ profileformset.management_form }}
        {{ profileformset.as_table }}
        </table>
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
{% else %}
Sorry, this page is for authenticated users only.
{% endif %}

{% endblock %}
