{% extends 'base.html' %}

{% block content %}

<h1>Profile settings</h1>
{% if request.user.is_authenticated %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor%}

    {% if profileformset.errors %}
        {% for field in profileformset %}
            {% for key, value in field.errors.items %}
                <div class="alert alert-danger" role="alert">{{ value }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'profiles:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        {{ profileformset.management_form }}
        {{ profileformset.as_table }}
        </table>
        <input type="submit" class="btn btn-primary" value="Update">
    </form>
{% else %}
Sorry, this page is for authenticated users only.
{% endif %}

{% endblock %}
