{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}<h1>Log In</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error|escape }}</p>
            {% endfor %}
            </p>
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p style="color: red">{{ error|escape }}</p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

{% endblock %}