body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.badge-tag {
  color: white;
}
.badge-tag:hover {
  color: white;
}
.avatar-img {
  background-image: url("http://placehold.it/40x40");
  max-width: 40px;
}
